/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */
body {
  background-color: rgb(20, 7, 20);
  color: white;
}

header p {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
}
.ify {
  color: orange;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem;

}

.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  color: violet;
  font-family: sans-serif;
  font-size: 1rem;

}
.list a {
  color: blue;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 1.2rem;
}

.cos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
}

.item1 {
  width:600px;
  margin-left: 4rem;
 }

 .item1 h1 {
  font-family: sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: orange;
  margin-left: .2rem;

 }
 .item1 button {
  font-family: sans-serif;
  font-weight: bolder;
  height: 25px;
  width: 80x;
  background-color: violet;
  border-radius: 4px;
  border-style: none;
  margin-top: 3rem;

 }

 .item1 h2 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 3rem;
  margin-left: 3;
  font-weight: 100;
  font-size: 15px;
 }
 .item2 {
  margin-top: 3rem;
 }

 .item2 img {
  height: 190px;
 }
 
 .paramdam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 8rem;
  gap: 2rem;
 }
 .paramdam_img {
  height: 190px;
  
  }

  .topS {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 6rem;
  }

  .topstories  {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;

  }

 
.kwento1 h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1.5rem;
  font-size: 15px;
  
}

.kwento1 p {
  font-size: 11px;
  margin-bottom: 1rem;
}

.kwento1  .readmore {
  font-family: sans-serif;
  font-weight: bolder;
  color: orange;
 
}

.senyales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  gap: 2rem;
 }
 .senyalesH h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}

.senyalesIMG {
  height: 190px;
  margin-bottom: 1rem;
}

.authors h2{
  margin: 150px 100px;
  font-size: 3.2rem;
  color: #3D2892;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
.as{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
.a1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.a1 h3{
  color: #F55D3A;
  font-size: 2.8rem;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.waveimage{
  position: relative;
}

.waveimage img{
  width: 100%;
}


.wavetext{
position: absolute;
top: 270px;
width: 100%;
display: flex;
gap: 80px;
align-items: center;
justify-content: center;
font-family: sans-serif;
}
.wavetext h1{
  font-size: 64px;
  color: #F55D3A;

}

.credits {
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #F55D3A;
  width: 100%;
}

.credits p{
  font-family: sans-serif;
  font-weight: bold;
}






 

  















